<html>

<head>
    <title>Diary App
    </title>
    <style>

    </style>
</head>

<body>
    <h1> Diary App<button style="float:right; font-size:20px;"><a href="{{ url_for('register') }}">Register</a></button>
        <button style="float:right; font-size:20px;"><a href="{{ url_for('login') }}">Login</a></button></h1>
    <br>
    <hr>
    <center>
        <img src="https://64.media.tumblr.com/6255e115bdb705fe4c2c81b4ab2a7fd4/tumblr_nlyl52T9yH1ttmhcxo1_500.gif">
        <h2>Keep a Diary, someday it will keep you</h2>
    </center>
</body>

</html>